# Entorno virtual
inventario/
venv/
env/

# Base de datos
instance/*.db
*.db
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales y sensibles
*.env
desplegar*
tokens*
secrets*
*.log

# Archivos del sistema
.DS_Store
Thumbs.db
