{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body p-5 text-center">
                    <h2 class="mb-4" style="color: #8B4513;">Iniciar Sesión</h2>
                    
                    <form method="POST">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="username" placeholder="Usuario" required>
                        </div>
                        <div class="mb-4">
                            <input type="password" class="form-control" name="password" placeholder="Contraseña" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 py-2">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
